* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.container {
  width: 500px;
  height: 500px;
  background-color: #ccc;
  border-radius: 50%;
  border: 15px solid #dde;
  position: relative;
  overflow: hidden;
  /* transition: 6s; */
  transition-timing-function: ease-in-out;
  transition-duration: 20s;
}

.container div {
  height: 50%;
  width: 200px;
  position: absolute;
  clip-path: polygon(100% 0, 50% 100%, 0 0);
  transform: translateX(-50%);
  transform-origin: bottom;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  font-family: sans-serif;
  color: #fff;
  left: 135px;
}

.container .one {
  background-color: red;
  left: 50%;
}
.container .two {
  background-color: green;
  transform: rotate(45deg);
}
.container .three {
  background-color: orange;
  transform: rotate(90deg);
}
.container .four {
  background-color: purple;
  transform: rotate(135deg);
}
.container .five {
  background-color: rgb(168, 168, 67);
  transform: rotate(180deg);
}
.container .six {
  background-color: pink;
  transform: rotate(225deg);
}
.container .seven {
  background-color: blue;
  transform: rotate(270deg);
}
.container .eight {
  background-color: silver;
  transform: rotate(315deg);
}

.arrow {
  position: absolute;
  top: 20;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
}

.arrow::before {
  content: '\1F817';
  font-size: 50px;
}

#spin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #e2e2e2;
  border: 2px solid black;
  font-weight: bold;
  font-size: 20px;
  color: black;
  width: 90px;
  height: 90px;
  font-family: sans-serif;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  letter-spacing: 1px;
  z-index: 10;
}
